/* BODY */
body {
    margin: 0;
    font-family: Arial;
    background:  Grey;
    color: white;
    text-align: center;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    background: rgba(8, 8, 8, 0.7);
    padding: 15px;
}

/* LOGO */
.logo {
    height: 60px;
}

/* WATERMARK BACKGROUND */
.watermark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: url('/static/bg.jpg') no-repeat center;
    background-size: cover;

    opacity: 0.08; /* 🔥 watermark effect */
    z-index: -1;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    gap: 8px;
    padding: 20px;
}

/* SEAT */
.seat {
    padding: 10px;
    border-radius: 8px;
    background: #222;
    cursor: pointer;
    font-size: 12px;
}

/* STATUS COLORS */
.green {
    background: #00ff88;
    color: black;
}

.red {
    background: #ff4d4d;
}

/* INPUT */
input {
    padding: 10px;
    width: 200px;
    margin: 10px;
}

/* BUTTON */
button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
}